{% extends 'base.html'%}
{% block title%} Sign Up {% endblock %}
{% block content %}

<div>
    <h1>Reader Register Form</h1>
    <hr />
    {%if messages%}
    {%for message in messages%}
    <h4 class="message">{{message}}</h4>
    {%endfor%}
    {%endif%}
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{ form.as_p}}
        <p> Already have account? Click <a href="/login"> here</a>.</p>
        <button type="submit" class="btn btn-secondary btn-sm">SignUp as Reader</button>

    </form>

</div>
{%endblock%}