<li class="blockquote">
    <p class="lead">{{comment.text}}</p>
    <footer class="blockquote-footer">via {{comment.name}} | {{comment.date|timesince}} ago
        {% if request.user == comment.name %}

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_id" value="{{comment.id}}">
            <input type="submit" name="delete" value="delete">
        </form>

        {% endif %}
        <a class="not-exist" value="{{comment.id}}" onclick="myFunc(event)" href="#">Test A tag</a>
        <div class="row" id="{{comment.id}}" style="display:none;">this is selected form

            <form method="POST" class="col-sm-4 d-flex flex-column">
                {%csrf_token%}
                {{ form.as_table}}
                <input type="hidden" name="parent_id" value="{{comment.id}}">
                <input type="submit" value="reply" name="reply">
            </form>
        </div>

    </footer>
    {%if comment.children|length%}
    <ul>
        {% for ch in comment.children %}
        {% with comment=ch template_name="main/comment_item.html" %}
        {% include template_name %}
        {%endwith%}
        {%endfor%}

    </ul>
    {%endif%}
</li>

<script type="text/javascript">


    // let select_a = document.querySelectorAll(".not-exist")

    // select_a.forEach((a) => {

    function myFunc(event) {
        event.preventDefault();
        let value = event.target.getAttribute('value')
        let form_select = document.getElementById(value)
        if (form_select.style.display == 'none') {
            form_select.style.display = 'block';
        } else {
            form_select.style.display = 'none';
        }

    }
    // }
    // )



</script>