{% extends 'base.html'%}
{% block title%} my homepage {% endblock %}
{% block content %}
<div class="d-flex flex-column g-4 m-2">

    <div class="card d-flex m-auto">

        <div class="d-flex align-items-center" style="height:120px; width:120px">

            {%if user.avatar.url is not None%}
            <img src="{{user.avatar.url}}" alt="userAvatar" style="width: 100%">
            {%else%}
            {% load static %}
            <img style="width: 100%" src="{% static 'main/avatar-user.png' %}" alt="user">
            {% endif %}
        </div>

        <div class=" card-body h-50">

            <h5 class="card-title">
                UserID: {{user.id}}
                <small>
                    {%if user.is_reader%}
                    (logged in as reader)
                    {%else%}
                    (logged in as poster)
                    <a class="btn btn-outline-primary btn-small" href="{% url 'newpost' user.id %}">New Post</a>
                    {%endif%}
                </small>
            </h5>
            <h5 class="card-title">Username:{{user.username}}</h5>
            {%if user.first_name and user.last_name%}
            <h5 class="card-title">Name: {{user.first_name}} &nbsp; {{user.last_name}}</h5>
            {%endif%}
            <p>
                <a href="{% url 'delete-profile' user.id %}" class="card-link">delete user</a>
                <a href="{% url 'update-profile' user.id %}" class="card-link">update profile</a>
            </p>

        </div>
    </div>


    <hr>

    <div class="d-flex flex-column w-80">
        <div class="m-3">
            <h3 class="text-center text-uppercase fw-bold"> My favorite reads</h3>
            <ul class="fs-5">
                {% for post in posts %}
                <li>
                    <p class="card-text">
                        <a class="card-link " href="{%url 'detail' post.id %}">{{post.title}}</a>
                        created on {{post.date | date:"D d M Y"}} |
                        <a class="card-link " href="{% url 'addfavor' post.id%}"> Remove</a>
                    </p>
                </li>
                {% endfor %}
            </ul>

        </div>
        <hr>
        <div class="m-3">
            {% if user.is_poster %}
            <h3 class="text-center text-uppercase fw-bold">My Articles</h3>

            <ul class="fs-5">
                {%for post in created_posts%}
                <li>{{post.title}} created on {{post.date | date:"D d M Y"}} |

                    <a class="card-link " href="{%url 'updatepost' post.pk %}" class="card-link"><small>View and
                            Modify</small> </a> |
                    <a class="card-link " href="{%url 'delete-post' post.id %}"
                        class="card-link"><small>Delete</small></a>
                    |
                    {%if post.set_public%}
                    <a class="card-link active" href="{%url 'post-status' post.id %}"
                        class="card-link"><small>Draft</small></a>
                    {%else%}
                    <a href="{%url 'post-status' post.id %}" class="card-link"><small>Public</small></a>
                    {%endif%}
                    {%endfor%}
                </li>
            </ul>


            </a>

            {% endif %}
        </div>
    </div>
    <!-- </div> -->

</div>
{%endblock%}